In [1]:
import pandas as pd
import numpy as np

In [ ]:
fallen_angels = pd.read_csv('fallen_angels.csv')

In [3]:
gvkey2cik = pd.read_csv('gvkey2cik.csv')
gvkey2cik

,gvkey,conm,DATADATE1,DATADATE2,cik,SOURCE,coname,FNDATE,LNDATE,N10K,N10K_NT,N10K_A,N10Q,N10Q_NT,N10Q_A,NDEF,N8K,NTOT,FLAG
0,1002,AAI CORP,12/31/1968,12/31/1972,1306124,FDATE,AAI CORP,11/12/2004,05/11/2005,0,0,0,0,0,0,0,0,5,3
1,1004,AAR CORP,05/31/1966,05/31/2020,1750,COMPN,AAR CORP,01/13/1994,10/09/2020,27,0,0,83,0,2,32,226,1859,3
2,1009,ABS INDUSTRIES INC,10/31/1981,10/31/1994,313368,COMPN,ABS INDUSTRIES INC /DE/,06/14/1995,03/06/2007,1,0,0,2,0,0,0,8,20,3
3,1010,ACF INDUSTRIES INC,04/30/1951,12/31/2003,2036,FDATE,ACF INDUSTRIES INC,05/09/1996,05/09/1996,0,0,0,0,0,0,0,0,1,3
4,1010,ACF INDUSTRIES INC,04/30/1951,12/31/2003,910627,COMPN,ACF INDUSTRIES HOLDING CORP,05/18/1999,07/01/2011,0,0,0,0,0,0,0,0,56,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34289,335466,HERMITAGE OFFSHORE SERVICES,12/31/2015,12/31/2019,1597659,COMPN,HERMITAGE OFFSHORE SERVICES LTD.,06/10/2013,11/06/2020,0,0,0,0,0,0,0,0,207,3
34290,338640,TPG TELECOM LTD,NaN,NaN,1641424,COMPN,TPG TELECOM LIMITED/ADR,05/19/2015,05/25/2016,0,0,0,0,0,0,0,0,4,3
34291,339015,METSO OUTOTEC OYJ,NaN,NaN,1436786,COMPN,OUTOTEC OYJ,10/17/2008,07/13/2020,0,0,0,0,0,0,0,0,20,2
34292,339965,SNOWFLAKE INC,01/31/2019,01/31/2020,1640147,COMPN,SNOWFLAKE INC.,04/11/2017,10/07/2020,0,0,0,0,0,0,0,0,50,3
34293,343812,TIM SA,NaN,NaN,1826168,COMPN,TIM S.A.,09/29/2020,11/06/2020,0,0,0,0,0,0,0,1,23,3

In [8]:
gvkey2cik[gvkey2cik['cik'] == 924901]

,gvkey,conm,DATADATE1,DATADATE2,cik,SOURCE,coname,FNDATE,LNDATE,N10K,N10K_NT,N10K_A,N10Q,N10Q_NT,N10Q_A,NDEF,N8K,NTOT,FLAG
14499,30637,MACK-CALI REALTY CORP,12/31/1993,12/31/2019,924901,COMPN,MACK CALI REALTY CORP,02/09/1995,11/04/2020,29,0,5,76,0,1,61,312,2186,3