In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
#data is unique by gvkey and fyear
data = pd.read_csv('fundamentals_annual.csv')
data.head()

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,conm,curcd,...,txdbcl,txdi,txp,txt,uopi,costat,ggroup,sic,spcindcd,spcseccd
0,2080,11/30/2000,2000,INDL,C,D,STD,BSET,BASSETT FURNITURE INDS,USD,...,NaN,1.708,0.000,4.671,NaN,A,2520,2511,315.0,976.0
1,2080,11/30/2001,2001,INDL,C,D,STD,BSET,BASSETT FURNITURE INDS,USD,...,NaN,-0.824,0.000,-1.042,NaN,A,2520,2511,315.0,976.0
2,2080,11/30/2002,2002,INDL,C,D,STD,BSET,BASSETT FURNITURE INDS,USD,...,NaN,2.215,0.000,2.369,NaN,A,2520,2511,315.0,976.0
3,2080,11/30/2003,2003,INDL,C,D,STD,BSET,BASSETT FURNITURE INDS,USD,...,NaN,-1.154,1.530,0.462,NaN,A,2520,2511,315.0,976.0
4,2080,11/30/2004,2004,INDL,C,D,STD,BSET,BASSETT FURNITURE INDS,USD,...,NaN,1.875,0.682,2.641,NaN,A,2520,2511,315.0,976.0

In [11]:
fyear = pd.read_csv('income.csv')
fyear.head()

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,curcd,ni,pi,txpd,costat,ggroup
0,2080,11/30/2000,2000,INDL,C,D,STD,USD,10.032,15.067,1.994,A,2520
1,2080,11/30/2001,2001,INDL,C,D,STD,USD,-2.642,-3.684,1.485,A,2520
2,2080,11/30/2002,2002,INDL,C,D,STD,USD,6.741,9.110,0.350,A,2520
3,2080,11/30/2003,2003,INDL,C,D,STD,USD,-0.470,4.867,-3.366,A,2520
4,2080,11/30/2004,2004,INDL,C,D,STD,USD,8.209,10.850,1.700,A,2520

In [5]:
data = data.merge(fyear, on = ['gvkey','fyear'],  suffixes=('', '_drop'))
data = data[[c for c in data.columns if not c.endswith('_drop')]]

# fyear and fyrc share same values
# fdate is the date when the data is finalized for the fiscal year. Just fiscal year alone will not tell us anything.

In [6]:
data.drop(['consol','popsrc','indfmt'],axis=1,inplace=True) #same for all rows
data.drop(['dvpd','opiti','tii','uopi'], axis=1, inplace=True) #NaN values only
data.drop(['gld','gleps','glp'], axis=1, inplace=True) #more than 90% values are NaN

In [8]:
#drop columns with constant value 
for i in data.columns:
    if(len(data[i].unique()) == 1):
        print(f'Dropped: {i}')
        data.drop(i, axis=1,inplace=True)
data.head()

,gvkey,datadate,fyear,tic,conm,fyr,fdate,acominc,act,ap,...,txdbcl,txdi,txp,txt,sic,spcindcd,spcseccd,ni,pi,txpd
0,2080,11/30/2000,2000,BSET,BASSETT FURNITURE INDS,11,NaN,NaN,136.875,20.310,...,NaN,1.708,0.000,4.671,2511,315.0,976.0,10.032,15.067,1.994
1,2080,11/30/2001,2001,BSET,BASSETT FURNITURE INDS,11,NaN,3.047,98.602,15.010,...,NaN,-0.824,0.000,-1.042,2511,315.0,976.0,-2.642,-3.684,1.485
2,2080,11/30/2002,2002,BSET,BASSETT FURNITURE INDS,11,NaN,1.551,102.966,17.738,...,NaN,2.215,0.000,2.369,2511,315.0,976.0,6.741,9.110,0.350
3,2080,11/30/2003,2003,BSET,BASSETT FURNITURE INDS,11,NaN,2.531,100.697,15.127,...,NaN,-1.154,1.530,0.462,2511,315.0,976.0,-0.470,4.867,-3.366
4,2080,11/30/2004,2004,BSET,BASSETT FURNITURE INDS,11,NaN,2.818,102.677,19.948,...,NaN,1.875,0.682,2.641,2511,315.0,976.0,8.209,10.850,1.700

In [ ]:
#fdate or the final date is the date the data is finalized for that period. 
#what is datadate?
#FYEAR indicates the fiscal year that the company is in at the time of DATADATE.
#Compustat it is pretty simple to understand, DATADATE gives us the annual close of fiscal period, in the case of MSFT
#(June FY) this might be 6/30/2010, and the FYEAR is 2010

In [ ]:
#we can work with datadate and fyear
#fdate will give the end of the fiscal year. 
#datadate will tell the date the data was recorded
#fyr and fyear together should match the month and year of datadate

,gvkey,datadate,fyear,tic,conm,fyr,fdate,acominc,act,ap,...,teq,txdba,txdbca,txdbcl,txdi,txp,txt,sic,spcindcd,spcseccd
0,2080,11/30/2000,2000,BSET,BASSETT FURNITURE INDS,11,NaN,NaN,136.875,20.310,...,NaN,NaN,NaN,NaN,1.708,0.000,4.671,2511,315.0,976.0
1,2080,11/30/2001,2001,BSET,BASSETT FURNITURE INDS,11,NaN,3.047,98.602,15.010,...,NaN,NaN,NaN,NaN,-0.824,0.000,-1.042,2511,315.0,976.0
2,2080,11/30/2002,2002,BSET,BASSETT FURNITURE INDS,11,NaN,1.551,102.966,17.738,...,229.643,NaN,NaN,NaN,2.215,0.000,2.369,2511,315.0,976.0
3,2080,11/30/2003,2003,BSET,BASSETT FURNITURE INDS,11,NaN,2.531,100.697,15.127,...,220.018,NaN,NaN,NaN,-1.154,1.530,0.462,2511,315.0,976.0
4,2080,11/30/2004,2004,BSET,BASSETT FURNITURE INDS,11,NaN,2.818,102.677,19.948,...,221.212,NaN,NaN,NaN,1.875,0.682,2.641,2511,315.0,976.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2756,271841,12/31/2016,2016,GFASY,GAFISA SA,12,06/05/2017,0.000,1045.186,87.455,...,593.401,0.0,0.0,0.0,27.468,15.936,30.764,1520,NaN,NaN
2757,271841,12/31/2017,2017,GFASY,GAFISA SA,12,06/30/2018,0.000,523.210,77.026,...,229.282,0.0,0.0,0.0,-7.829,14.018,-6.974,1520,NaN,NaN
2758,271841,12/31/2018,2018,GFASY,GAFISA SA,12,12/05/2019,0.000,438.044,60.239,...,127.396,0.0,0.0,0.0,-6.483,14.795,-5.618,1520,NaN,NaN
2759,271841,12/31/2019,2019,GFASY,GAFISA SA,12,07/13/2020,0.000,450.252,52.981,...,219.633,0.0,0.0,0.0,-9.269,17.382,-8.776,1520,NaN,NaN
2760,271841,12/31/2020,2020,GFASY,GAFISA SA,12,05/09/2021,0.000,483.653,87.226,...,296.403,0.0,0.0,0.0,0.000,16.515,1.447,1520,NaN,NaN

In [ ]:
#methods
#1. filter by gvkey to get records for all fyear and then run a time series regression with lag variables. 
#2. Train a model with all firms in the dataset.

Index(['gvkey', 'datadate', 'fyear', 'tic', 'conm', 'fyr', 'fdate', 'acominc',
       'act', 'ap', 'at', 'ch', 'citotal', 'cshpri', 'dltt', 'dvt', 'ebit',
       'ebitda', 'gp', 'icapt', 'invt', 'lt', 'opeps', 'revt', 'seq', 'teq',
       'txdba', 'txdbca', 'txdbcl', 'txdi', 'txp', 'txt', 'sic', 'spcindcd',
       'spcseccd'],
      dtype='object')

DATADATE is COMPUSTAT’s approximation of the fiscal period-end date, but I have seen cases where this is off a 
few days from the company’s actual fiscal 
year-end date in EDGAR filings because DATADATE will be the last day of the month. APDEDATE is defined by 
COMPUSTAT as, “This item represents the actual date the company closes accounting for the period, which can 
be different from the last day of the month in the period.” Both of these dates may be thought of as the 
Balance Sheet date one would find in the actual corporate fillings.

In [4]:
#how to deal with missing values? what should be the threshold for dropping columns missing values? 
data

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,conm,curcd,...,txdbcl,txdi,txp,txt,uopi,costat,ggroup,sic,spcindcd,spcseccd
0,2080,11/30/2000,2000,INDL,C,D,STD,BSET,BASSETT FURNITURE INDS,USD,...,NaN,1.708,0.000,4.671,NaN,A,2520,2511,315.0,976.0
1,2080,11/30/2001,2001,INDL,C,D,STD,BSET,BASSETT FURNITURE INDS,USD,...,NaN,-0.824,0.000,-1.042,NaN,A,2520,2511,315.0,976.0
2,2080,11/30/2002,2002,INDL,C,D,STD,BSET,BASSETT FURNITURE INDS,USD,...,NaN,2.215,0.000,2.369,NaN,A,2520,2511,315.0,976.0
3,2080,11/30/2003,2003,INDL,C,D,STD,BSET,BASSETT FURNITURE INDS,USD,...,NaN,-1.154,1.530,0.462,NaN,A,2520,2511,315.0,976.0
4,2080,11/30/2004,2004,INDL,C,D,STD,BSET,BASSETT FURNITURE INDS,USD,...,NaN,1.875,0.682,2.641,NaN,A,2520,2511,315.0,976.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2756,271841,12/31/2016,2016,INDL,C,D,STD,GFASY,GAFISA SA,USD,...,0.0,27.468,15.936,30.764,NaN,A,2520,1520,NaN,NaN
2757,271841,12/31/2017,2017,INDL,C,D,STD,GFASY,GAFISA SA,USD,...,0.0,-7.829,14.018,-6.974,NaN,A,2520,1520,NaN,NaN
2758,271841,12/31/2018,2018,INDL,C,D,STD,GFASY,GAFISA SA,USD,...,0.0,-6.483,14.795,-5.618,NaN,A,2520,1520,NaN,NaN
2759,271841,12/31/2019,2019,INDL,C,D,STD,GFASY,GAFISA SA,USD,...,0.0,-9.269,17.382,-8.776,NaN,A,2520,1520,NaN,NaN
2760,271841,12/31/2020,2020,INDL,C,D,STD,GFASY,GAFISA SA,USD,...,0.0,0.000,16.515,1.447,NaN,A,2520,1520,NaN,NaN

In [5]:
#use datadate that falls in the previous fiscal year to predict the earnings of the company in the next year.

In [6]:
#why is there such a wide gap between the two dates?
(pd.to_datetime(data['fdate']) - pd.to_datetime(data['datadate'])).sort_values(ascending =False)

1806   1850 days
1757   1773 days
1472   1767 days
1817   1609 days
1776   1602 days
          ...
2717         NaT
2718         NaT
2719         NaT
2720         NaT
2721         NaT
Length: 2761, dtype: timedelta64[ns]

In [7]:
data.sort_values(by=['gvkey','fyear','fyr'],inplace=True)

In [8]:
data.isna().sum()

gvkey          0
datadate       0
fyear          0
indfmt         0
consol         0
popsrc         0
datafmt        0
tic            0
conm           0
curcd          0
fyr            0
fdate        702
acominc      190
act          377
ap            54
at            54
ch            88
citotal      591
cshpri        80
dltt          59
dvpd        2761
dvt           80
ebit          57
ebitda        71
gld         2455
gleps       2455
glp         2453
gp            57
icapt         54
invt          54
lt            55
opeps         80
opiti       2761
revt          57
seq           54
teq          486
tii         2761
txdba        514
txdbca       664
txdbcl       599
txdi         121
txp           93
txt           57
uopi        2761
costat         0
ggroup         0
sic            0
spcindcd     700
spcseccd     700
dtype: int64

In [9]:
df = data[['gvkey', 'datadate', 'fyear','fyr', 'acominc','act', 'ap', 'at', 'ch', 'citotal', 'cshpri', 'dltt', 'dvt', 'ebit','ebitda', 'gp', 'icapt', 'invt', 'lt', 'opeps', 'revt', 'seq','txdi', 'txp', 'txt', 'sic','ni','pi','txpd']]
#fill missing values using forward fill and backward fill and take average
#what this means is that the asset value in that year lied between the the asset value the year before and the one
#the year after
temp = df.groupby('gvkey').fillna(method='ffill')
temp = temp.fillna(0)
temp2 = df.groupby('gvkey').fillna(method='bfill')
temp2 = temp2.fillna(0)

cols = ['acominc','act', 'ap', 'at', 'ch', 'citotal', 'cshpri', 'dltt', 'dvt', 'ebit','ebitda', 'gp', 'icapt', 'invt', 'lt', 'opeps', 'revt', 'seq','txdi', 'txp', 'txt', 'sic','ni','pi','txpd']
for i in cols:
    df[i] = (temp[i] + temp2[i])//2
    
df.isna().sum()

KeyError: "['ni', 'pi', 'txpd'] not in index"

In [10]:
temp = df[['acominc', 'act', 'ap', 'at', 'ch','citotal', 'cshpri', 'dltt', 'dvt', 'ebit', 'ebitda', 'gp', 'icapt','invt', 'lt', 'opeps', 'revt', 'seq', 'txdi', 'txp', 'txt', 'sic','ni','pi','txpd']]

NameError: name 'df' is not defined

In [11]:
#very high correlations between features. its expected since they are mathematically derived from each other
temp.corr().style.background_gradient(cmap='coolwarm')

NameError: name 'temp' is not defined

In [38]:
from sklearn.decomposition import PCA
pca = PCA()
dataset = pd.DataFrame()
transformed = pca.fit_transform(temp.drop('ni',axis=1))
for i in range(0, len(transformed[0])):
    dataset[i] = transformed[:,i]
    print(i, temp['ni'].corr(dataset[i]))

0 0.39903546066117773
1 -0.11895864758595241
2 0.5291868432975245
3 -0.18953165629416271
4 -0.1743930262799818
5 0.19796631524297856
6 -0.4072379745021669
7 -0.4496817267149357
8 0.06112926240861294
9 -0.08681827921835122
10 -0.11107960130192505
11 -0.04489628796234971
12 0.03513671811832796
13 0.08083896358904316
14 0.00042452318086091885
15 0.032842334722463576
16 0.17148185074762726
17 -0.055439078132095705
18 0.008390132918850766
19 0.002552209683945523
20 -0.03620127153343576
21 -0.022368305150012528
22 0.0010845767187403243
23 0.0006011918645170971

In [39]:
pca = PCA(n_components = 3)
transformed = pca.fit_transform(temp.drop('ni',axis=1))

In [40]:
print(pca.explained_variance_ratio_) #97% of the variance explained by first 3 principal components.

[0.92357055 0.04730212 0.01385517]

In [42]:
print(pca.singular_values_) #eigen values

[1189526.93976543  269202.7735291   145695.15826523]

In [43]:
dataset = pd.DataFrame({'Prin1': transformed[:, 0], 'Prin2': transformed[:, 1], 'Prin3': transformed[:, 2]})
print(dataset)

            Prin1        Prin2       Prin3
0    -5906.484803   958.351000  -42.643573
1    -6006.819820   998.955450  -49.066454
2    -6007.655826   977.085084  -57.663154
3    -6021.775848   979.575725  -64.778557
4    -5997.803502   986.549485  -50.303325
...           ...          ...         ...
2756 -4298.583743  1488.971211  333.519718
2757 -5288.675693  1436.409858   49.245693
2758 -5500.082946  1291.138139   -5.999447
2759 -5622.824256  1305.670640  138.573743
2760 -5475.247220  1223.915999  206.403309

[2761 rows x 3 columns]

In [44]:
temp.corrwith(dataset.Prin1)

acominc   -0.677239
act        0.965939
ap         0.924104
at         0.993791
ch         0.919811
citotal    0.386532
cshpri     0.611385
dltt       0.783393
dvt        0.546951
ebit       0.703202
ebitda     0.857372
gp         0.721390
icapt      0.941859
invt       0.662006
lt         0.969206
opeps      0.020021
revt       0.944854
seq        0.928322
txdi       0.038106
txp        0.892343
txt        0.661361
sic       -0.018980
ni         0.399035
pi         0.566840
txpd       0.770922
dtype: float64

In [45]:
temp.corrwith(dataset.Prin2)

acominc   -0.168868
act       -0.138164
ap         0.186494
at         0.102344
ch        -0.174127
citotal   -0.115988
cshpri    -0.358644
dltt      -0.231912
dvt       -0.366479
ebit      -0.288037
ebitda    -0.298008
gp        -0.584552
icapt     -0.245149
invt      -0.375546
lt         0.241307
opeps     -0.060070
revt      -0.283050
seq       -0.260751
txdi       0.018953
txp        0.023910
txt       -0.250457
sic        0.072546
ni        -0.118959
pi        -0.163794
txpd      -0.283755
dtype: float64

In [46]:
temp.corrwith(dataset.Prin3)

acominc    0.492335
act       -0.113539
ap        -0.178376
at         0.039525
ch        -0.031199
citotal    0.508668
cshpri     0.078427
dltt       0.203325
dvt        0.458799
ebit       0.438537
ebitda     0.265804
gp         0.197592
icapt      0.211047
invt       0.324774
lt        -0.031346
opeps      0.018307
revt      -0.158123
seq        0.224395
txdi      -0.170925
txp        0.043244
txt        0.210612
sic       -0.190738
ni         0.529187
pi         0.504566
txpd       0.334435
dtype: float64

In [47]:
data.columns

Index(['gvkey', 'datadate', 'fyear', 'tic', 'conm', 'fyr', 'fdate', 'acominc',
       'act', 'ap', 'at', 'ch', 'citotal', 'cshpri', 'dltt', 'dvt', 'ebit',
       'ebitda', 'gp', 'icapt', 'invt', 'lt', 'opeps', 'revt', 'seq', 'teq',
       'txdba', 'txdbca', 'txdbcl', 'txdi', 'txp', 'txt', 'sic', 'spcindcd',
       'spcseccd', 'ni', 'pi', 'txpd'],
      dtype='object')